* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin:0%;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.sidebar {
    width: 60px;
    background: #222;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    transition: width 0.3s;
    overflow: hidden;
    padding-top: 20px;
}

.sidebar:hover {
    width: 250px;
}

.profile {
    text-align: center;
    padding: 10px 0;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.sidebar:hover .profile-pic {
    width: 80px;
    height: 80px;
}

.sidebar-menu {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-menu a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    padding: 10px;
    text-decoration: none;
    transition: 0.3s;
    width: 100%;
    justify-content: center;
}

.sidebar-menu a img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.sidebar:hover .sidebar-menu a {
    justify-content: flex-start;
    padding-left: 20px;
}

.sidebar-menu a:hover {
    background: #444;
}

.stopwatch-container {
    background: black;
    color: white;
    text-align: left;
    padding: 50px;
    margin: 20px auto;
    width: 99%;
    height: 300px;
    border-radius: 5px;
}

.stopwatch {
    font-size: 150px;
    font-weight: bold;
}

.controls button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: black;
    color: white;
}

.todo-container {
    background: white;
    padding: 20px;
    width: 100%;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
h2 {
    font-size: 50px;
}

#taskInput {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    height: 50px;
    font-size: 20px;
}

#taskList {
    list-style-type: none;
    padding: 0;
}

#taskList li {
    text-align: left;
    display: flex;
    align-items: center;
    gap: 200px;
    background: #eee;
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 3px;
    font-size: 20px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}
h1 {
    background-color: black;
    color:white;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.5);
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: "Saira Stencil One",serif;
    font-size: 40px;
}